.inputDate .vdp-datepicker{width:100%}.inputDate .vdp-datepicker input{width:100%}
html.vue-app .pos\:a\:0{top:0;left:0;right:0;bottom:0}html.vue-app .CommandBox{border:1px solid #e5e5e5;max-height:24rem;overflow:auto}html.vue-app .CommandBox .NoResults{padding:2rem;text-align:center;font-weight:600}
textarea[data-v-8d8d07da]{max-height:unset !important;min-height:10rem;width:80%}
