html.vue-app {
    --color-active: #448ED9;
    --bg-main: #F7F7F7;
    --bg-dark2: #505A74;
}
.app.\--theme-darkmode {
    --bg-main: #202F55;
    --bg-title: #172446;
}
html.vue-app .dashboardTab.dashboardTab {
    border-radius: 0;
    transition-property: color,background,opacity,border,filter,transform;
    border: 1px solid #e5e5e5;
    border-top: none
}
html.vue-app .dashboardTab.dashboardTab:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--primary-a-90);
    transition-property: visibility,opacity,background,border
}
html.vue-app .dashboardTab.dashboardTab:not(.-is-editing):not(.-is-dragged):after {
    visibility: hidden;
    opacity: 0
}
html.vue-app .dashboardTab.dashboardTab .dashboardTab-more {
    color: var(--color-active);
    font-weight: 700;
    letter-spacing: .2px
}
html.vue-app .dashboardTab.dashboardTab .dashboardTab-more:hover {
    color: #34383c;
    opacity: 1
}
html.vue-app .dashboardTab.dashboardTab:focus {
    z-index: 1
}
html.vue-app .dashboardTab.dashboardTab:first-child {
    border-top-color: #e0e0e0;
    border-top-left-radius: 4px;
    border-top: 1px solid #e5e5e5
}
html.vue-app .dashboardTab.dashboardTab:last-child {
    border-bottom-color: #e0e0e0;
    border-bottom-left-radius: 4px;
    margin-bottom: 0.5em;
}
html.vue-app .dashboardTab.dashboardTab.-is-active {
    background: #fff!important;
    border-right-width: 0
}
html.vue-app .dashboardTab.dashboardTab.-is-dragged:after {
    background: var(--safe-a-60);
    border: 2px dashed var(--safe)
}
html.vue-app.dir\:rtl .dashboardTab.dashboardTab {
    text-align: right
}
html.vue-app.dir\:rtl .dashboardTab.dashboardTab .dashboardTabHeader {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end
}
html.vue-app .dashboardTab.dashboardTab.mobile {
    border: unset;
    padding-left: 1.8rem!important;
    padding-right: 1.8rem!important;
    padding-top: 1rem!important;
}
html.vue-app .dashboardTab.dashboardTab.mobile:focus {
    box-shadow: unset
}
html.vue-app .dashboardTab.dashboardTab.mobile>.dashboardTabHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #505A74;
    color: #fff;
    font-size: 1.8rem;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.app.\--theme-darkmode .dashboardTab.dashboardTab.mobile>.dashboardTabHeader {
    background-color: var(--bg-title);
}
@media (min-width: 1024px){
    html.vue-app .dashboardTab.dashboardTab.mobile>.dashboardTabHeader {
        top: -10px;
        border-radius: 3px 3px 0 0;
    }
}
.vue-app .dashboardTab.dashboardTab.mobile>.dashboardTabHeader::before,.vue-app .dashboardTab.dashboardTab.mobile>.dashboardTabHeader::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 3em;
    top: 0;
    background-color: inherit;
    z-index: -1;
}
.vue-app .dashboardTab.dashboardTab.mobile>.dashboardTabHeader::before {
    right: 97%;
}
.vue-app .dashboardTab.dashboardTab.mobile>.dashboardTabHeader::after {
    left: 97%;
}
html.vue-app .dashboardTab.dashboardTab.mobile>.dashboardTabHeader .icon {
    max-width: 14px;
}
html.vue-app .dashboardTab.dashboardTab.mobile>.dashboardTabHeader .svg-icon {
    max-width: 12px;
    max-height: 12px;
}
html.vue-app .dashboardTab.dashboardTab.mobile .widget-content {
    overflow: auto;
    padding-top: 2rem;
    padding-bottom: 0.8rem;
}
html.vue-app.dir\:rtl .dashboardTab.dashboardTab:first-child {
    border-radius: 0;
    border-top-right-radius: 4px
}
html.vue-app.dir\:rtl .dashboardTab.dashboardTab:last-child {
    border-radius: 0;
    border-bottom-right-radius: 4px
}
html.vue-app.dir\:rtl .dashboardTab.dashboardTab.-is-active {
    border-right-width: 1px;
    border-left-width: 0
}
.admin-stats-widget>div {
    padding: 1.5rem;
    border: 1px solid #e0e0e0;
    background-color: rgba(255,255,255,.6);
    border-radius: 3px;
}
.app.\--theme-darkmode .admin-stats-widget>div {
    background-color: transparent;
}
.admin-stats-widget>div>:not(:last-child) {
    margin-bottom: 1rem
}
.admin-stats-widget>div:not(:first-child) {
    margin-top: 2rem
}
ol.user-domains--pointers {
    list-style-type: decimal!important
}
.all-users-widget .suspended[data-v-1db17159] {
    font-weight: 600
}
.input-ip {
    display: inline-flex;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 1.2rem;
    line-height: 3.2rem;
    color: #34383c;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px
}
.input-ip>.input-ip-version-select .button {
    padding: 0;
    padding-left: 1.5rem;
    border-width: 0
}
.input-ip>.input-ip-version-select .button:focus {
    box-shadow: none
}
.input-ip>.input-ip-mask {
    border-width: 0;
    padding-left: 1.5rem
}
.input-ip>.input-ip-mask:focus {
    box-shadow: none
}
html.vue-app.dir\:rtl .input-ip .input-ip-mask {
    text-align: right;
    direction: ltr
}
.reseller-stats-widget>div {
    padding: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: rgba(255,255,255,.6);
}
.reseller-stats-widget>div>:not(:last-child) {
    margin-bottom: 1rem
}
.reseller-stats-widget>div:not(:first-child) {
    margin-top: 2rem
}
.reseller-stats-widget>div.info .info-entry {
    display: flex;
    align-items: center
}
.reseller-stats-widget>div.info .info-entry .info-entry-title {
    width: 14ch;
    line-height: 1.1;
    font-size: 14px;
    font-weight: 600;
    padding-right: .6rem;
}
@media (max-width: 1366px){
    .reseller-stats-widget>div.info .info-entry .info-entry-title {
        width: 12ch;
    }
}
.reseller-stats-widget>div.info .info-entry .info-entry-content {
    flex: 1;
    font-size: 12px;
    line-height: 1.2;
}
@media (max-width: 1366px){
    .reseller-stats-widget>div.info .info-entry .info-entry-content {
        font-size: 13px;
    }
}
.reseller-stats-widget>div.info .info-entry .info-entry-link {
    width: 96px;
    font-size: 11px;
    font-weight: 700;
    text-align: right;
}
@media (max-width: 1366px){
    .reseller-stats-widget>div.info .info-entry .info-entry-link {
        width: 88px;
        text-align: right;
        font-size: 12px;
    }
}
.pids[data-v-501432a0] {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer
}
#PHP_VERSION_DIALOG .badge {
    white-space: normal
}
#PHP_VERSION_DIALOG .badge .badge-text {
    line-height: 150%
}
.user-stats-widget>div {
    padding: 1.5rem;
    border: 1px solid #e0e0e0
}
.app.\--theme-darkmode .user-stats-widget>div {
    border-color: rgba(132,141,160,.43);
}
.user-stats-widget> .info {
    padding: 1.5rem 1.2rem;
}
.user-stats-widget>div>:not(:last-child) {
    margin-bottom: 1rem
}
.user-stats-widget>div:not(:first-child) {
    margin-top: 2rem
}
.user-stats-widget>div.info .info-entry {
    display: flex;
    align-items: center
}
.user-stats-widget>div.info .info-entry .info-entry-title {
    width: 17ch;
    line-height: 1.2;
    font-size: 12px;
    font-weight: 700;
    padding-right: 1rem;
}
.user-stats-widget>div.info .info-entry .info-entry-content {
    flex: 3;
    font-size: 12px
}
.user-stats-widget>div.info .info-entry .info-entry-link {
    flex: 1;
    font-size: 12px;
    font-weight: 700
}
@media (max-width: 767px) {
    .user-stats-widget>div.info .info-entry {
        flex-wrap:wrap;
        justify-content: space-between
    }
    .user-stats-widget>div.info .info-entry:not(:first-child) {
        margin-top: 1rem
    }
    .user-stats-widget>div.info .info-entry .info-entry-content {
        text-align: right
    }
    html.vue-app.dir\:rtl .user-stats-widget>div.info .info-entry .info-entry-content {
        text-align: left
    }
    .user-stats-widget>div.info .info-entry .info-entry-link {
        width: 100%;
        text-align: right
    }
    html.vue-app.dir\:rtl .user-stats-widget>div.info .info-entry .info-entry-link {
        text-align: left
    }
}
html.vue-app .dashboard {
    display: grid;
    grid-template-columns: 40% 1fr;
    display: -ms-grid;
    -ms-grid-columns: 40% 1fr
}
html.vue-app .dashboard .dashboard-left {
    grid-column: auto
}
html.vue-app .dashboard .dashboard-left .access-level-switch.\--sidebar-layout {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    right: calc(100% + 1rem);
    top: 0;
    min-height: 9rem;
    justify-content: space-around
}
html.vue-app .dashboard .dashboard-right {
    margin-left: -1px;
    border-top-left-radius: 0;
    grid-column: auto;
    -ms-grid-column: 2
}
@media (min-width: 1024px){
    .dashboard-left + .dashboard-right {
        padding-top: 0 !important;
        padding-right: 0 !important;
    }
}
html.vue-app.dir\:rtl .dashboard .dashboard-right {
    text-align: right;
    margin-left: 0;
    margin-right: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 4px
}
html.vue-app .dashboard .tabsList-move {
    transition-property: transform
}
html.vue-app .dashboard.mobile {
    display: block
}
@media (min-width: 1025px){
    html.vue-app .dashboard.mobile {
        box-shadow: -1px 1px 10px rgba(30,23,104,.04);
    }
}
html.vue-app .dashboard.mobile .dashboard-mobile {
    width: 100%;
    background-color: #fff;
    padding-bottom: 2rem;
    overflow: hidden;
    border-radius: 3px;
}
.app.\--theme-darkmode .dashboard.mobile .dashboard-mobile {
    background-color: var(--bg);
}
html.vue-app .dashboard.mobile .dashboard-mobile .access-level-switch {
    display: flex;
    justify-content: flex-end;
    height: 5.5rem;
    align-items: center;
    padding-left: 1rem;
    font-weight: 600;
    padding-right: 3rem;
    padding-top: 1rem
}
html.vue-app.mobile {
    margin: 0!important
}
html.vue-app.mobile .dashboard {
    display: block
}
html.vue-app.mobile .dashboard-mobile {
    width: 100%
}
html.vue-app .sortable-drag.sortable-fallback {
    display: none!important
}
html.vue-app body.\--sidebar-layout .dashboard .dashboard-right {
    border-top-right-radius: 0;
    border-top-width: 0
}
html.vue-app body.\--sidebar-layout .dashboard .dashboardTab:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0
}
.icons-dashboard {
    display: grid;
    grid-template-columns: 1fr auto;
    overflow: hidden;
}
@media (min-width: 1024px){
    .icons-dashboard {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}
.icons-dashboard .icons-grid {
    height: 100%;
    overflow: hidden
}
.icons-dashboard .icons-grid .icons-grid-content {
    display: flex;
    flex-direction: column
}
.icons-dashboard .icons-grid .icons-grid-content::-webkit-scrollbar {
    width: 7px
}
.icons-dashboard .icons-grid .icons-grid-content::-webkit-scrollbar-track {
    background: #e0e0e0;
    box-shadow: inset 3px 0 0 0 #fff,inset -3px 0 0 0 #fff
}
.icons-dashboard .icons-grid .icons-grid-content::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 5px;
    border: 1px solid #e0e0e0
}
.icons-dashboard .aside {
    position: relative;
}
@media (min-width: 1024px){
    .icons-dashboard .aside {
        order: -1;
        padding-top: 1.5rem;
    }
}
@media (min-width: 1024px) and (max-width: 1200px){
    .icons-dashboard .aside {
        max-width: 330px;
    }
}
.icons-dashboard .aside .grip {
    border-right: 5px double #e0e0e0;
    top: 1.5rem;
    height: 3.5rem;
    position: absolute;
    left: 0;
    cursor: col-resize;
    z-index: 1;
    margin-left: -1.8rem;
    border-left: 2px solid #e0e0e0;
    min-width: 8px
}
.icons-dashboard .aside .grip.dragged {
    border-color: var(--primary)
}
.icons-dashboard .dashboard {
    overflow-y: auto;
    margin: 0!important;
}
.icons-dashboard .dashboard::-webkit-scrollbar {
    width: 7px
}
.icons-dashboard .dashboard::-webkit-scrollbar-track {
    background: #e0e0e0;
    box-shadow: inset 3px 0 0 0 #fff,inset -3px 0 0 0 #fff
}
.icons-dashboard .dashboard::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 5px;
    border: 1px solid #e0e0e0
}
html.vue-app.\--media\:phone .icons-dashboard {
    display: block
}
@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .icons-dashboard {
        max-height: none!important;
        overflow: visible!important
    }
    .icons-grid-content {
        height: auto!important
    }
}
html.vue-app .standard-2021-layout .widget-table {
    margin: 0;
    width: 100%
}
html.vue-app .standard-2021-layout .widget-table .widget-table-headers .widget-table-header {
    height: 6rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .5px;
    color: #697388;
    padding: 0 30px;
    border-width: 0;
    background: #fff
}
html.vue-app .standard-2021-layout .widget-table .widget-table-headers .widget-table-header:first-child {
    border-top-left-radius: 25px
}
html.vue-app .standard-2021-layout .widget-table .widget-table-headers .widget-table-header:last-child {
    border-top-right-radius: 25px
}
html.vue-app .standard-2021-layout .widget-table .widget-table-rows .widget-table-row {
    height: 6rem
}
html.vue-app .standard-2021-layout .widget-table .widget-table-rows .widget-table-row .widget-table-cell {
    padding: 0 3rem;
    border-width: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .428571px;
    color: #1d293b;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis
}
html.vue-app .standard-2021-layout .widget-table .widget-table-rows .widget-table-row:nth-child(odd) .widget-table-cell {
    background-color: #f8fafd
}
html.vue-app .standard-2021-layout .widget-table .widget-table-rows.\--rounded .widget-table-row:last-child .widget-table-cell:first-child {
    border-bottom-left-radius: 25px
}
html.vue-app .standard-2021-layout .widget-table .widget-table-rows.\--rounded .widget-table-row:last-child .widget-table-cell:last-child {
    border-bottom-right-radius: 25px
}
html.vue-app .standard-2021-layout .widget-table .widget-table-footer td {
    border-width: 0;
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px
}
html.vue-app .standard-2021-layout .widget-table .widget-table-footer td .add-item-button {
    color: var(--primary)
}
html.vue-app .standard-2021-layout .widget-table .widget-table-footer td .add-item-button svg path {
    stroke: var(--primary)
}
html.vue-app .standard-2021-layout .widget-table .widget-table-footer td .widget-table-footer-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .5px;
    padding: 18px 30px
}
html.vue-app .standard-2021-layout .usage-progress {
    display: flex;
    align-items: center;
    white-space: nowrap;
    min-width: 200px
}
html.vue-app .standard-2021-layout .usage-progress.\--short {
    min-width: unset
}
html.vue-app .standard-2021-layout .usage-progress .label,html.vue-app .standard-2021-layout .usage-progress .limit-label,html.vue-app .standard-2021-layout .usage-progress .usage-label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .5px;
    color: #1d293b
}
html.vue-app .standard-2021-layout .usage-progress .progress-base {
    margin: 0 10px;
    -webkit-box-flex: 1;
    height: 5px;
    background: #d8e1ed;
    border-radius: 5px;
    flex-grow: 1;
    min-width: 80px
}
html.vue-app .standard-2021-layout .usage-progress .progress-base .progress-meter {
    background: red;
    display: block;
    height: 5px;
    border-radius: 5px
}
html.vue-app .-refreshed-layout .admin-stats-widget {
    background: #fff;
    padding: 30px;
    border-radius: 25px;
    font-family: Montserrat
}
html.vue-app .-refreshed-layout .admin-stats-widget>div {
    padding: 1.5rem;
    border: 1px solid #e0e0e0
}
html.vue-app .-refreshed-layout .admin-stats-widget>div>:not(:last-child) {
    margin-bottom: 1rem
}
html.vue-app .-refreshed-layout .admin-stats-widget>div:not(:first-child) {
    margin-top: 2rem
}
html.vue-app .-refreshed-layout .all-users-widget .suspended[data-v-5e3c6f8a] {
    font-weight: 600
}
html.vue-app .standard-2021-layout .external-widget {
    background: #fff;
    padding: 30px;
    border-radius: 25px;
    font-family: Montserrat
}
.license-widget {
    background: #fff;
    overflow: hidden;
}
.app.\--theme-darkmode .license-widget {
    background-color: transparent;
    padding: 1rem;
}
.license-widget .license-widget-header {
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .5px;
    color: #697388
}
.license-widget .license-widget-header .license-widget-header-button {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .538462px
}
.license-widget .license-widget-items {
    max-height: 36rem;
    overflow: auto
}
.license-widget .license-widget-item {
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .428571px;
    color: #1d293b
}
.license-widget .license-widget-item>.license-widget-item-title {
    width: 50%
}
.license-widget .license-widget-item>.license-widget-item-value {
    flex-grow: 1
}
.license-widget .license-widget-item:nth-child(odd) {
    background-color: #f8fafd
}
.license-widget .license-widget-footer {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .5px;
    color: #1d293b;
    padding: 0 30px
}
html.vue-app .-refreshed-layout .reseller-stats-widget {
    background: #fff;
    padding: 30px;
    border-radius: 25px;
    font-family: Montserrat
}
html.vue-app .-refreshed-layout .reseller-stats-widget>div {
    padding: 1.5rem;
    border: 1px solid #e0e0e0
}
html.vue-app .-refreshed-layout .reseller-stats-widget>div>:not(:last-child) {
    margin-bottom: 1rem
}
html.vue-app .-refreshed-layout .reseller-stats-widget>div:not(:first-child) {
    margin-top: 2rem
}
html.vue-app .-refreshed-layout .reseller-stats-widget>div.info .info-entry {
    display: flex;
    align-items: center
}
html.vue-app .-refreshed-layout .reseller-stats-widget>div.info .info-entry .info-entry-title {
    width: 150px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 1rem
}
html.vue-app .-refreshed-layout .reseller-stats-widget>div.info .info-entry .info-entry-content {
    flex: 1;
    font-size: 14px
}
html.vue-app .-refreshed-layout .reseller-stats-widget>div.info .info-entry .info-entry-link {
    width: 100px;
    font-size: 11px;
    font-weight: 700
}
html.vue-app .-refreshed-layout .pids[data-v-7e1968ab] {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer
}
html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-header {
    height: 6rem;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .5px;
    color: #697388;
    padding: 0 30px;
    background: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: .7px solid #dce2ea
}
html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-header>label {
    display: flex;
    align-items: center;
    cursor: pointer
}
html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>* {
    display: none
}
html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>.ui-table {
    display: block
}
html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>.ui-table tr td,html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>.ui-table tr th {
    height: 6rem;
    padding: 0 3rem;
    border-width: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .428571px;
    color: #1d293b;
    background: #fff
}
html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>.ui-table tr th {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .5px;
    color: #697388
}
html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>.ui-table tr:nth-child(odd) td,html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>.ui-table tr:nth-child(odd) th {
    background: #f8fafd
}
html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>.ui-table tr:last-child td:first-child,html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>.ui-table tr:last-child th:first-child {
    border-bottom-left-radius: 25px
}
html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>.ui-table tr:last-child td:last-child,html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>.ui-table tr:last-child th:last-child {
    border-bottom-right-radius: 25px
}
html.vue-app .-refreshed-layout .system-info-widget .system-info-widget-data>.pageSection>.ui-table thead>tr>th {
    background: #fff!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important
}
html.vue-app .standard-2021-layout .user-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px
}
html.vue-app .standard-2021-layout .user-blocks>.block-item {
    min-height: 140px;
    border-radius: 25px;
    padding: 25px 85px 25px 20px;
    color: #fff;
    position: relative;
    min-width: 240px;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right 3px center
}
html.vue-app .standard-2021-layout .user-blocks>.block-item:nth-child(1n) {
    background-color: #61bdf6
}
html.vue-app .standard-2021-layout .user-blocks>.block-item:nth-child(2n) {
    background-color: #5a5d9d
}
html.vue-app .standard-2021-layout .user-blocks>.block-item:nth-child(3n) {
    background-color: #faab63
}
html.vue-app .standard-2021-layout .user-blocks>.block-item:nth-child(4n) {
    background-color: #6bc5d2
}
html.vue-app .standard-2021-layout .user-blocks>.block-item .block-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .4px;
    z-index: 1;
    display: block
}
html.vue-app .standard-2021-layout .user-blocks>.block-item .block-item-description {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .5px;
    z-index: 1;
    margin-top: 4px;
    display: block
}
html.vue-app .standard-2021-layout .user-blocks>.block-item .block-item-meta {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .5px;
    z-index: 1;
    margin-top: 8px;
    opacity: .5
}
.vue-app .standard-2021-layout.\--phone .user-blocks {
    grid-template-columns: 1fr
}
.vue-app .standard-2021-layout.\--phone .user-blocks .block-item-description {
    max-width: 40vw
}
html.vue-app .-refreshed-layout .user-stats-widget {
    padding: 30px;
    border-radius: 25px;
    font-family: Montserrat;
    background: #fff
}
html.vue-app .-refreshed-layout .user-stats-widget>div {
    padding: 1.5rem;
    border: 1px solid #e0e0e0
}
html.vue-app .-refreshed-layout .user-stats-widget>div>:not(:last-child) {
    margin-bottom: 1rem
}
html.vue-app .-refreshed-layout .user-stats-widget>div:not(:first-child) {
    margin-top: 2rem
}
html.vue-app .-refreshed-layout .user-stats-widget>div.info .info-entry {
    display: flex;
    align-items: center
}
html.vue-app .-refreshed-layout .user-stats-widget>div.info .info-entry .info-entry-title {
    width: 150px;
    font-size: 12px;
    font-weight: 700;
    padding: 0 1rem
}
html.vue-app .-refreshed-layout .user-stats-widget>div.info .info-entry .info-entry-content {
    flex: 3;
    font-size: 12px
}
html.vue-app .-refreshed-layout .user-stats-widget>div.info .info-entry .info-entry-link {
    flex: 1;
    font-size: 12px;
    font-weight: 700
}
@media (max-width: 767px) {
    html.vue-app .-refreshed-layout .user-stats-widget>div.info .info-entry {
        flex-wrap:wrap;
        justify-content: space-between
    }
    html.vue-app .-refreshed-layout .user-stats-widget>div.info .info-entry:not(:first-child) {
        margin-top: 1rem
    }
    html.vue-app .-refreshed-layout .user-stats-widget>div.info .info-entry .info-entry-content {
        text-align: right
    }
    html.vue-app.dir\:rtl .-refreshed-layout .user-stats-widget>div.info .info-entry .info-entry-content {
        text-align: left
    }
    html.vue-app .-refreshed-layout .user-stats-widget>div.info .info-entry .info-entry-link {
        width: 100%;
        text-align: right
    }
    html.vue-app.dir\:rtl .-refreshed-layout .user-stats-widget>div.info .info-entry .info-entry-link {
        text-align: left
    }
}
html.vue-app .standard-2021-layout .vue-widget {
    border-radius: 25px;
    padding: 30px;
    font-family: Montserrat
}
html.vue-app .standard-2021-layout .vue-widget:not(.\--loading) {
    background: #fff
}
.widgets-disabled {
    padding: 30px;
    border-radius: 25px;
    font-family: Montserrat;
    background: #fff;
    align-self: flex-start;
}
.widgets-disabled .widgets-disabled-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .4px;
    z-index: 1;
    display: block
}
.widgets-disabled .widgets-disabled-message {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .5px;
    z-index: 1;
    margin-top: 4px;
    display: block
}
html.vue-app .standard-2021-layout .widget-selector {
    margin-bottom: 40px;
    min-width: 500px;
    max-width: 100%
}
html.vue-app .standard-2021-layout .widget-selector .widget-selector-header {
    display: flex;
    align-items: center;
    position: relative
}
html.vue-app .standard-2021-layout .widget-selector .widget-selector-header .current-widget-title {
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: .4px;
    color: #1d293b;
    display: flex;
    align-items: center;
    white-space: nowrap
}
html.vue-app .standard-2021-layout .widget-selector .widget-selector-header .widget-refresh-button {
    background: transparent;
    border: 1px solid #dce2ea;
    height: 32px;
    line-height: 32px;
    border-radius: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .464286px;
    color: #1d293b;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 30px
}
html.vue-app .standard-2021-layout .widget-selector .widget-selector-header .widget-view-all-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .538462px;
    white-space: nowrap
}
html.vue-app .standard-2021-layout .widget-selector .widget-content {
    margin-top: 20px;
    min-width: 500px;
    overflow-x: auto
}
@media (max-width: 767px) {
    html.vue-app .standard-2021-layout .widget-selector .widget-content {
        min-width:unset
    }
}
html.vue-app body.-refreshed-layout .current-widget-selector-dropdown {
    min-width: 200px;
    background: #fff;
    border-radius: 25px;
    border: .7px solid #dce2ea
}
html.vue-app body.-refreshed-layout .current-widget-selector-dropdown .widget-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-height: 40px;
    line-height: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .428571px;
    color: #1d293b;
    cursor: pointer
}
html.vue-app body.-refreshed-layout .current-widget-selector-dropdown .widget-item .radio-icon {
    width: 16px;
    height: 16px;
    border: 1px solid #dce2ea;
    border-radius: 50%;
    margin-left: 30px
}
html.vue-app body.-refreshed-layout .current-widget-selector-dropdown .widget-item .radio-icon .inner {
    display: none;
    width: 10px;
    height: 10px;
    margin: 2px;
    background: #1d293b;
    border-radius: 50%
}
html.vue-app body.-refreshed-layout .current-widget-selector-dropdown .widget-item.\--disabled {
    color: #1d293b
}
html.vue-app body.-refreshed-layout .current-widget-selector-dropdown .widget-item.\--disabled .radio-icon {
    border-color: #697388
}
html.vue-app body.-refreshed-layout .current-widget-selector-dropdown .widget-item.\--disabled .radio-icon .inner {
    display: block;
    background: #697388
}
html.vue-app body.-refreshed-layout .current-widget-selector-dropdown .widget-item.\--active {
    color: var(--primary)
}
html.vue-app body.-refreshed-layout .current-widget-selector-dropdown .widget-item.\--active .radio-icon {
    border-color: var(--primary)
}
html.vue-app body.-refreshed-layout .current-widget-selector-dropdown .widget-item.\--active .radio-icon .inner {
    display: block;
    background: var(--primary)
}
html.vue-app .standard-2021-layout .tips {
    font-family: Montserrat;
    font-weight: 500;
    color: #1d293b;
    display: flex;
    flex-direction: column;
    margin-top: 60px
}
html.vue-app .standard-2021-layout .tips .tips-title {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: .4px
}
html.vue-app .standard-2021-layout .tips .tips-item {
    margin-top: 20.5px;
    padding-bottom: 19.5px
}
html.vue-app .standard-2021-layout .tips .tips-item:not(:last-child) {
    border-bottom: .7px solid #dce2ea
}
html.vue-app .standard-2021-layout .tips .tips-item .tips-item-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .5px;
    display: block
}
html.vue-app .standard-2021-layout .tips .tips-item .tips-item-link {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .5px;
    display: block;
    margin-top: 15px
}
html.vue-app .standard-2021-layout .recent-messages {
    font-family: Montserrat;
    font-weight: 500;
    color: #1d293b;
    display: flex;
    flex-direction: column;
    margin-top: 60px
}
html.vue-app .standard-2021-layout .recent-messages .title {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: .4px
}
html.vue-app .standard-2021-layout .recent-messages .message-item {
    margin-top: 20.5px;
    padding-bottom: 19.5px
}
html.vue-app .standard-2021-layout .recent-messages .message-item:not(:last-child) {
    border-bottom: .7px solid #dce2ea
}
html.vue-app .standard-2021-layout .recent-messages .message-item .item-subject {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .5px;
    display: block
}
html.vue-app .standard-2021-layout .recent-messages .message-item .item-link {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .5px;
    display: block
}
html.vue-app .standard-2021-layout .recent-messages .message-item .item-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px
}
html.vue-app .standard-2021-layout .recent-messages .message-item .item-time {
    font-size: 10px;
    line-height: 22px;
    color: #34383c
}
html.vue-app .info-bar-data-text-item {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}
html.vue-app .info-bar-data-text-item .info-bar-text-item-label {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .5px;
    white-space: nowrap
}
html.vue-app .info-bar-data-text-item .info-bar-text-item-value {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .464286px;
    text-align: right
}
html.vue-app .standard-2021-layout .info-bar {
    font-family: Montserrat;
    width: 300px;
    width: clamp(300px,20vw,400px);
    background: #fff;
    border-radius: 25px;
    padding: 30px;
    margin-top: 30px
}
html.vue-app .standard-2021-layout .info-bar.\--scrollable {
    overflow-y: auto
}
html.vue-app .standard-2021-layout .info-bar .info-bar-header {
    display: block;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: .4px;
    margin-bottom: 20px
}
html.vue-app .standard-2021-layout .info-bar .ui-infobar-stats:not(:first-child) {
    margin-top: 20px;
    border-radius: 25px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation {
    background: #fff;
    width: 100%;
    border-radius: 25px;
    min-height: 50px;
    padding: 30px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .pin-button {
    background: transparent;
    border: 1px solid #dce2ea;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .pin-button>svg {
    transform: scale(1.3)
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .no-results {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .428571px;
    color: #1d293b;
    padding: 30px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .dashboard-navigation-filter {
    position: relative
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .dashboard-navigation-filter .dashboard-navigation-filter-input {
    height: 50px!important;
    padding-left: 64px;
    width: 100%;
    border-radius: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .5px;
    color: #1d293b;
    border: .7px solid #dce2ea
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .dashboard-navigation-filter .dashboard-navigation-filter-input:focus {
    border-color: var(--primary)
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .dashboard-navigation-filter .dashboard-navigation-filter-search-icon {
    position: absolute;
    left: 30px;
    top: 13px;
    z-index: 2
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .dashboard-navigation-filter .dashboard-navigation-filter-label {
    position: absolute;
    top: -12px;
    left: 25px;
    line-height: 20px;
    padding: 0 10px;
    z-index: 4;
    font-weight: 500;
    background: #fff
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-category .navigation-grid-category-header {
    padding: 20px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: .4px;
    color: #1d293b;
    display: flex;
    align-items: center
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-category .navigation-grid-category-header>.spacer {
    flex-grow: 1
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-category .navigation-grid-category-header>.navigation-grid-category-updates {
    min-width: 25px;
    height: 25px;
    color: #fff;
    background: var(--safe);
    border-radius: 25px;
    text-align: center;
    line-height: 24px;
    margin-left: 1rem;
    font-size: 14px;
    padding: 0 10.5px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-category-entries,html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-search-entries {
    display: grid;
    padding-bottom: 20px;
    grid-template-columns: repeat(auto-fill,120px);
    grid-template-rows: repeat(auto-fill,minmax(130px,-webkit-max-content));
    grid-template-rows: repeat(auto-fill,minmax(130px,max-content));
    grid-gap: 15px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-category-entries .icons-grid-category-entry,html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-search-entries .icons-grid-category-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #dce2ea;
    border-radius: 20px;
    width: 120px;
    min-height: 130px;
    position: relative
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-category-entries .icons-grid-category-entry .icons-grid-category-entry-icon,html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-search-entries .icons-grid-category-entry .icons-grid-category-entry-icon {
    margin-top: 15px;
    height: 50px;
    margin-bottom: 15px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-category-entries .icons-grid-category-entry .icons-grid-category-entry-name,html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-search-entries .icons-grid-category-entry .icons-grid-category-entry-name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .428571px;
    color: #1d293b;
    padding: 0 20px;
    padding-bottom: 15px;
    flex: 1
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-search-entries {
    padding-top: 30px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .navigation-grid-search-entries .navigation-grid-category-empty {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .428571px;
    color: #1d293b
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .icons-grid-category-entry-updates {
    position: absolute;
    right: 25px;
    top: 10px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .access-level-toggle-switch {
    padding-left: 0;
    margin-right: 3rem
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .access-level-toggle-switch .ui-toggle-switch {
    font-family: Montserrat;
    border-radius: 25px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .access-level-toggle-switch .ui-toggle-switch .options {
    height: 50px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .access-level-toggle-switch .ui-toggle-switch .options .option {
    margin-left: 25px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .access-level-toggle-switch .ui-toggle-switch .options .option.\--user {
    margin-left: 0;
    margin-right: 25px
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .access-level-toggle-switch .ui-toggle-switch .options .slider {
    transform: translateX(25px)!important
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .access-level-toggle-switch .ui-toggle-switch .options.\--user .slider {
    transform: translateX(125px)!important
}
html.vue-app .standard-2021-layout .dashboard-icon-navigation .access-level-toggle-switch .ui-toggle-switch .label {
    font-weight: 500;
    left: 25px
}
html.vue-app .pos\:a\:0 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
.vue-app .standard-2021-layout .standard-2021-dashboard {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-columns: 1fr clamp(300px,20vw,400px);
    padding: 0;
    padding-right: 30px
}
.vue-app .standard-2021-layout .standard-2021-dashboard.-hide-details {
    grid-template-columns: 1fr
}
.vue-app .standard-2021-layout .standard-2021-dashboard .standard-dashboard-header {
    display: flex;
    align-items: center
}
.vue-app .standard-2021-layout .standard-2021-dashboard .standard-dashboard-header .header-text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .428571px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px
}
.vue-app .standard-2021-layout .standard-2021-dashboard .standard-dashboard-header .refreshed-domain-select {
    margin-right: 30px
}
.vue-app .standard-2021-layout .standard-2021-dashboard .main-panel {
    margin: 30px 20px;
    flex-grow: 1
}
.vue-app .standard-2021-layout .standard-2021-dashboard .main-panel .widgets {
    display: grid;
    grid-template-columns: minmax(500px,1fr) minmax(500px,1fr);
    grid-gap: 20px;
    margin-top: 20px
}
.vue-app .standard-2021-layout .standard-2021-dashboard .main-panel .toolbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    display: none
}
.vue-app .standard-2021-layout .standard-2021-dashboard .main-panel .toolbar .toolbar-item {
    margin-left: 30px;
    display: flex;
    align-items: center
}
.vue-app .standard-2021-layout .standard-2021-dashboard .main-panel .toolbar .toolbar-label {
    margin-right: 10px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .4px;
    color: #697388
}
.vue-app .standard-2021-layout .standard-2021-dashboard.\--infobar-on-bottom,.vue-app .standard-2021-layout .standard-2021-dashboard.\--one-column-widgets .main-panel .widgets {
    grid-template-columns: 1fr
}
.vue-app .standard-2021-layout .standard-2021-dashboard.\--infobar-on-bottom .info-bar {
    width: unset;
    margin: 0 30px
}
